@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Megrim');

header {
	border: 1px black solid;
	padding: 12em;
	background: url(http://wallpapercave.com/wp/ob5bIJo.jpg);
	background-size: 1225px, 450px; 
}

body, #slogan {
	font-family: 'Josefin Sans', sans-serif;
}

article {
	background-color: #CB9BFF;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #CB9BFF;
	border: 1px black solid;
	padding: 20px;
}

div, section {
	background-color: #290063;
	border: 1px black solid;
	padding: 20px;
}

#two_column {
	background-color: #8C96FF;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: #CB9BFF;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: #CB9BFF;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;

}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;

}

h1 {
	font-family: 'Megrim', cursive;
}

h1, #slogan {
	color: #FFFFFF;
	text-align: center;
	font-weight: 600;
}