@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Megrim');
{ margin:0; padding:0; box-sizing:border-box; }

header {
	border: 1px black solid;
	padding: 12em;
	background: url(../images/background.jpg);
	background-size: contain; 
}

body, #slogan {
	font-family: 'Josefin Sans', sans-serif;

}

/*article {
	background-color: ##AEB8FF;
	border: 1px black solid;
	padding: 20px;
}*/



footer {
	background-color: #AEB8FF;
	border: 1px black solid;
	padding: 20px; 
	text-align: center;
}

div, section {
	background-color: #290063;
	border: 1px black solid;
	padding: 20px;

}

#two_column {
	background-color: #8C96FF;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: #AEB8FF;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 40%;
}

#right {
	float: right;
	width: 52%;

}

a:link, a:visited {
	text-decoration: none;
	float: none;
	color: black;
	background-color: #AEB8FF;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
	font-weight: bold;
	width: 95%;
	display: inline-block;
}

a:hover, a:active {
	background-color: white;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;

}

h1 {
	font-family: 'Megrim', cursive;
}

h1, #slogan {
	color: #FFFFFF;
	text-align: center;
	font-weight: 600;
}


ul {
	list-style-type: square;
	list-style-position: inside;
}

p, li {
	padding: 20px;
}