body {
	color: rgb(70, 0, 130);
	background: url("https://s-media-cache-ak0.pinimg.com/originals/ab/ac/c4/abacc4506848ffb15ab21afce774925b.jpg");
}

h1 {
	color: rgb(40, 0, 70);
}

#slogan {
	font-style: italic; ;
}

body, h1, p, ul, li {
	font-family: Helvetica, sans-serif;
}

