body {
	color: rgb(70, 0, 130);
	background:url(/images/broken record background.jpg);
}

h1 {
	color: rgb(40, 0, 70);
}

#slogan {
	font-style: italic; ;
}

body, h1, p, ul, li {
	font-family: Helvetica, sans-serif;
}

